.menu{
    text-align: center;
    margin-top: 50px;
}
.menu >p:first-child{
    color: yellow;
    font-size: 29px;
}
.menu >p:nth-child(2){
    font-size: 35px;
    font-weight: bold;
}

.list-group-item-list {
    border: none !important;
    border-left:4px solid lightgrey !important;
    padding: 7px !important;
    color: rgba(0, 0, 0, 0.3);
}
.active1 {
    border-left:4px solid yellow !important;
}
.card-text{
    color: green !important;
}
.card-text2{
    color: black !important;
}
.active2{
    border-bottom: 4px solid green !important;
}